{
    # Enable automatic HTTPS
    email amasud.tech@gmail.com
}

(common_headers) {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

penthouse.blog {
    import common_headers
    encode zstd gzip
    reverse_proxy penthouse-app:3000
}

api.penthouse.blog {
    import common_headers
    encode zstd gzip
    reverse_proxy penthouse-app:3000
}
